@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .welcome-text {
        font-size: 2.5rem;
    }
</style>

<div class="text-center">
    <h1 class="display-4 welcome-text">Welcome to the Presentation Of Group 2</h1>
    <h2 class="display-4 welcome-text">IES Final Project</h2>
    <img src="https://images.shiksha.com/mediadata/images/1570687923phpC2fTqH.jpeg" alt="Welcome image" style="max-width: 100%;">
</div>
